<header class="container-fluid text-center pt-5 pb-5 mb-3">
    <div class="row">
        <div class="col">
            <h1>BIENVENIDOS A MERCADO WEB</h1>
        </div>
    </div>
</header>
<section class="container text-center pt-2 pb-2 mt-3">
    <div class="row">
        <div class="col">
            <a href="/dashboard" class="btn btn-warning fs-3">
                <i class="fa-solid fa-door-open"></i> Ingresar
            </a>
        </div>
    </div>
</section>