
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Productos Agregados</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formModal" action="">
                    <div class="row">
                        {{#each arrProductos}}
                            <div class="col-md-4 mb-4">
                                <img src="/assets/img/{{this}}.png" class="img-fluid" alt="imagen de {{this}}">
                            </div>
                        {{/each}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-right-from-bracket"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>