
<div class="container">
    <div class="row">
        <div class="col mb-3 text-center">
            <div class="card mb-4 text-center" style="width: 18rem;">
                <img src="/assets/img/{{buscarProducto}}.png" class="card-img-top" alt="Imagen de {{buscarProducto}}">
                <div class="card-body">
                    <p class="card-text fs-3">{{buscarProducto}}.</p>
                    <div class="col-12">
                        <button id="{{frutVerd}}" class="btn btn-info">
                            <i class="fa-solid fa-cart-plus"></i> Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


